{# Portfolio Kicker #}
<div class="kicker--portfolio--wrapper">
    <div class="kicker--portfolio--logomark"><a href="/">BC</a></div>
    <div class="kicker--portfolio--menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li>Sketches &amp; Drawings</li>
            <li>
                <span class="icon is-small"><i class="fa fa-github-alt"></i></span>
                <a href="https://github.com/buraian" target="_blank">Github</a>
            </li>
        </ul>
    </div>
</div>
