{% extends "layouts/layout.njk" %}

{% block body %}
<div class="home--wrapper">
    <div class="home container content">
        <div class="columns is-mobile is-multiline is-gapless">

            <div class="home--logotype--wrapper column is-full">
                <div class="home--logotype">
                    <div class="home--logotype--firstname">Brian</div>
                    <div class="home--logotype--lastname">Clark</div>
                </div>
            </div>

            <div class="home--bio--wrapper column is-full">
                <div class="home--bio">
                    <p>Web Developer &amp; Designer</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
