// Home

.home

  &--wrapper
    align-self: center

  &--logotype
    font-family: $family-title
    font-size: 30vw
    font-weight: normal
    line-height: 1
    text-align: center
    text-transform: uppercase

    +from($tablet)
      font-size: 20vw

    +from($desktop)
      font-size: 10vw

    +from($widescreen)
      font-size: 7vw

    &--firstname
      margin-bottom: -1rem

    &--lastname
      letter-spacing: -1.75px

  &--bio
    padding: 1rem 0
    position: relative
    text-align: center

    &:before
      background-color: rgba($grey-dark, .5)
      content: ''
      height: 1px
      left: 20%
      position: absolute
      right: 20%
      top: 0

    &--wrapper
