// Page(s)

.page

  &--title

    &,
    .content &
      font-size: 60px

      +from($tablet)
        font-size: 10vh

  &--main
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;

    a
      text-decoration: none

    &--wrapper
      background-color: $grey-light
      height: 100%
      font-family: $family-subtitle
      left: 0
      overflow-y: auto
      position: absolute
      top: 0
      transform-origin: center bottom
      transition-duration: .3s
      transition-property: transform
      transition-timing-function: $default-ttf
      width: 100%
      z-index: 10

      +from($tablet)
        transform-origin: 20% 50%

        @media screen and (orientation: portrait)
          transform-origin: 10% 50%

      .state--dinner-menu-exposed &
        box-shadow: 0 0 .5rem 0 $black
        overflow: hidden
        transform: scale(.9) translateY(90%)

        +from($tablet)
          transform: scale(.5)

    &--content
      display: flex
      justify-content: center
      min-height: 100%
      padding: (1rem + 5) (1rem + 1) calc(1rem + 40vh)
      position: relative

      +mobile

        @media screen and (orientation: portrait)
          padding-bottom: 17rem

      +from($tablet)
        padding: (4rem + 5) (4rem + 4) calc(4rem + 30vh)

      &:before
        border: 1px solid $grey-light
        bottom: 1rem
        content: ''
        display: block
        left: 1rem
        mix-blend-mode: exclusion
        position: absolute
        right: 1rem
        top: 1rem

        +from($tablet)
          bottom: 4rem
          left: 4rem
          right: 4rem
          top: 4rem

      &:after
        background-image: url('/images/greenery-bg.gif')
        background-position: center top
        background-repeat: no-repeat
        background-size: cover
        bottom: 0
        content: ''
        display: block
        height: 40vh
        left: 0
        position: absolute
        right: 0
        z-index: -1

    &--overlay
      bottom: 0
      display: block
      left: 0
      opacity: 0
      position: absolute
      right: 0
      top: 0
      transition: .15s ease-in
      visibility: hidden
      z-index: 99999

      .state--dinner-menu-exposed &
        cursor: pointer
        opacity: 1
        visibility: visible

      &:focus,
      &:hover
        background-color: rgba(map-get($monokai-soda, Colour11), .5)
