// Single Portfolio Item

.portfolio-item

  &--article

    &--wrapper
      width: 100%

  &--header

    &--wrapper
      margin-bottom: 3rem

  &--title

    &--wrapper
      text-align: center

  &--description

    &--wrapper

  &--project-links
    background-color: $white
    border: 6px double $grey-light
    padding-bottom: 1rem
    padding-top: 1rem
    text-align: center

    &--wrapper
      margin-bottom: .5em

  &--metadata
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    +from($tablet)
      flex-wrap: nowrap

    &--wrapper
      margin-bottom: 1.5rem

    dl
      margin-bottom: 1em
      width: 50%

      +from($tablet)
        width: auto

    dd
      font-size: .8em

  &--thumbnails

  &--thumbnail
    transition: .25s $default-ttf

    a
      display: block
      transition: .6s

      img
        transform-origin: 50% 0%
        transition: .25s $default-ttf

      &:focus,
      &:hover
        background-color: $white

        img
          transform: scale(1.025)

    &.loading
      opacity: 0
      transform: translateY(100px)

      a

        img
          filter: grayscale(1)

    &--caption
      font-size: .8em
      margin: .5em 0 1em

  &--previous-item
    align-items: center
    background-color: $grey-light
    border-radius: 100px
    border: 1px solid $grey-dark
    display: flex
    font-size: 28px
    height: 48px
    justify-content: center
    left: -0.5rem
    margin-top: -24px
    position: fixed
    top: 50%
    width: 48px

    +from($tablet)
      font-size: 36px
      height: 64px
      margin-top: -32px
      left: 2rem
      width: 64px

    &:after
      border: 1px solid $white
      border-radius: 100px
      bottom: 0
      content: ""
      display: block
      left: 0
      position: absolute
      right: 0
      top: 0
      transition: .25s $default-ttf
      z-index: -1

    &:focus,
    &:hover

      &:after
        background-color: rgba($white, .3)

  &--next-item
    align-items: center
    background-color: $grey-light
    border-radius: 100px
    border: 1px solid $grey-dark
    display: flex
    font-size: 28px
    height: 48px
    justify-content: center
    margin-top: -24px
    position: fixed
    right: -0.5rem
    top: 50%
    width: 48px

    +from($tablet)
      font-size: 36px
      height: 64px
      margin-top: -32px
      right: 2rem
      width: 64px

    &:after
      border: 1px solid $white
      border-radius: 100px
      bottom: 0
      content: ""
      display: block
      left: 0
      position: absolute
      right: 0
      top: 0
      transition: .25s $default-ttf
      z-index: -1

    &:focus,
    &:hover

      &:after
        background-color: rgba($white, .3)
