// Single Portfolio Item

.portfolio-item

  &--article

    &--wrapper
      width: 100%

  &--header

    &--wrapper
      margin-bottom: 3rem

  &--title

    &--wrapper
      text-align: center

  &--description

    &--wrapper

  &--project-links
    background-color: $white
    border: 6px double $grey-light
    padding-bottom: 1rem
    padding-top: 1rem
    text-align: center

    &--wrapper
      margin-bottom: .5em

  &--metadata
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    +from($tablet)
      flex-wrap: nowrap

    &--wrapper
      margin-bottom: 1.5rem

    dl
      margin-bottom: 1em
      width: 50%

      +from($tablet)
        width: auto

    dd
      font-size: .8em

  &--thumbnails

  &--thumbnail
    transition: .25s $default-ttf

    a
      display: block
      transition: .6s

      img
        transform-origin: 50% 0%
        transition: .25s $default-ttf

      &:focus,
      &:hover
        background-color: $white

        img
          transform: scale(1.025)

    &.loading
      opacity: 0
      transform: translateY(100px)

      a

        img
          filter: grayscale(1)

    &--caption
      font-size: .8em
      margin: .5em 0 1em
