{% extends "layouts/layout.njk" %}

{% block title %}{{super()}} | Portfolio{% endblock %}

{% block body %}
<div class="portfolio-listing--wrapper">
    <div class="portfolio-listing container content">
        {# <div class="columns is-multiline"> #}

            <header class="portfolio-listing--header">
                {% include "partials/kicker-portfolio.njk" %}

                <div class="portfolio-listing--title--wrapper column is-full">
                    <h1 class="portfolio-listing--title page--title">Portfolio</h1>
                </div>
            </header>

            <div class="portfolio-listing--roles--wrapper column is-full">
                <div class="portfolio-listing--roles">
                    <ul>
                        <li class="portfolio-listing--role portfolio-listing--role--design"><button>Design</button></li>
                        <li class="portfolio-listing--role portfolio-listing--role--development"><button>Development</button></li>
                        <li class="portfolio-listing--role portfolio-listing--role--layout"><button>Layout</button></li>
                    </ul>
                </div>
            </div>

            <div class="portfolio-listing--toc--wrapper column is-full">
                <div class="portfolio-listing--toc columns is-gapless-mobile">
                    {% if items %}
                        {% for item in items %}

                            {% set numOfColumns = 3 %}
                            {% set itemsPerColumn = (((items.length / numOfColumns) + 0.4) | round ) %} {# Adding .4 to ensure round up #}
                            {% set openColumn = (loop.index - 1) % itemsPerColumn %}
                            {% set closeColumn = loop.index % itemsPerColumn %}

                            {# Open a Column #}
                            {% if (loop.index == 1 or not openColumn) %}
                                <div class="portfolio-listing--toc--column column is-one-third">
                            {% endif %}

                                <article class="portfolio-listing--toc--item{% for feature in item.features %} {{feature | dasherize | lower}}{% endfor %}">
                                    <span>{{loop.index | padLeft('00')}}.</span>
                                    <a class="portfolio-listing--toc--action" href="/portfolio/{{item._id}}">{{item.title}}</a>
                                    {% if item.roles %}
                                        {%- for role in item.roles -%}
                                            <div class="portfolio-listing--signifier portfolio-listing--signifier--{{role | dasherize | lower}}"></div>
                                        {%- endfor -%}
                                    {% endif %}
                                </article>

                            {# Close a Column #}
                            {% if (loop.index == items.length or not closeColumn) %}
                                </div>
                            {% endif %}

                        {% endfor %}
                    {% else %}
                        <p><em>Currently no portfolio items to display.</em></p>
                    {% endif %}
                </div>
            </div>
        {# </div> #}
    </div>
</div>
{% endblock %}
